
h3 {
    text-align: center;
    color: palevioletred;
}

table {
    border: solid;
    background-color: bisque;
}

tbody {
    border: 1mm solid;
}

.property {
    border-bottom: 0.5mm solid;
    border-right: 0.5mm solid;
    border-collapse: collapse;
    background-color: rgb(220, 163, 182);
}
.bottom {
    border-bottom: 0.5mm solid;
    border-collapse: collapse;
}

.bottom1 {
    background-color:aliceblue;
}
.bottom2 {
    background-color:darkseagreen;
}

.bottom3 {
    background-color:darkkhaki;
}
.bottom4 {
    background-color: lightblue;
}

.bottom5 {
    background-color: sandybrown;
}

th {
    border-bottom: 0.5mm solid;
    border-collapse:collapse;
    margin: 0;
}
body{
    text-
}