
h3 {
    text-align: center;
    color: palevioletred;
}

table {
    border: solid;
    background-color: bisque;
}

tbody {
    border: 1mm solid;
}

.property {
    border-bottom: 0.5mm solid;
    border-right: 0.5mm solid;
    border-collapse: collapse;
    background-color: rgb(220, 163, 182);
}
.bottom {
    border-bottom: 0.5mm solid;
    border-collapse: collapse;
}

.color1 {
    background-color:aliceblue;
}
.color2 {
    background-color:darkseagreen;
}

.color3 {
    background-color:darkkhaki;
}
.color4 {
    background-color: lightblue;
}

.color5 {
    background-color: sandybrown;
}

th {
    border-bottom: 0.5mm solid;
    border-collapse:collapse;
    margin: 0;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.color6 {
    background-color:coral;
}

.color7 {
    background-color: darkolivegreen;
}

.color12 {
    background-color: olivedrab;
}

.color8 {
    background-color: cadetblue;
}

.color9{
    background-color: cornflowerblue;
}

.color10{
    background-color: gainsboro;
}
.color11 {
    background-color: goldenrod;
}
.color13 {
    background-color: gold;
}
